.navbar {
    background-color: red;
}

.top {
    text-decoration: none;
    display: flex;
    margin: -200px 20px;
    position: sticky;
    bottom: 20px;
    width: fit-content;
}


.btn {
    background-color: rgb(223, 160, 59);
}

.btn:hover {
    transition: background-color 0.3s;
    background-color: rgb(224, 68, 68);
}

.nav-item {
    color: aliceblue;
}

.nav-item:hover,
.active {
    transition: background-color 0.3s;
    background-color: rgb(216, 5, 5);
    border-radius: 5px;
}







footer {
    background-color: red;
    display: flex;
    padding: 10px;
    align-items: center;
    color: aliceblue;
    justify-content: center;
}

footer div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_links ul li {
    list-style: none;
}

.footer_links {
    border-right: 1px solid white;
}

.footer_links ul li a {
    color: aliceblue;
    text-decoration: none;
}

.footer_links ul li a:hover {
    transition: color .4s, text-decoration 1s;
    color: rgb(168, 172, 176);
    text-decoration: underline;
}